@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;&display=swap');
/* selector { cssProperty: cssPropertyValue; } */

/* Selector ->
1. id Selector
2. class Selector
3. Element Selector h1 {...}
4. Pseudo Selector
5. Attribute Selector  */

/* 1. ID Selector */
#heading-one {
    color: red;
}

#heading-two {
    color: green;
    text-align: center;
}

/* 2. Class Selector */
/* .list {
    color: purple;
} */

/* ul, ol, p {
    color: pink;
} */

/* .ol-span {
    color: navy;
} */

/* PSEUDO SELECTORS - : --> - Natural actions of any element */
#heading-one:hover {
    color: white;
}

#link-one:active {
    background-color: blue;
}

#link-two:visited {
    background-color: yellow;
}

.unordered-list:first-child {
    color: navy;
}

.unordered-list:nth-child(3) {
    color: pink;
}

.unordered-list:last-child {
    color: green;
}

/* ATTRIBUTE SELECTORS - [ ] */

/* ^ -> STARTS WITH
$ -> ENDS WITH
* -> CONTAINS */

/* img[src^="https"] {
    border: 5px solid black;
} */

/* img[src$=".jpeg"] {
    border: 5px solid red;
} */

/* img[alt*="Sample"] {
    border: 5px solid navy;
} */



/* COLORS */

/* 1. Name Color
2. Hex Code (#abcdef)
3. RGB Value - rgb(a, b, c)
4. RGBA - RGBAbs --> Abs - 0-1 */

body {
    background: linear-gradient(to bottom, rgba(65, 228, 242, 1), rgba(65, 228, 242, 0.6));
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

#container-one {
    height: 400px;
    width: 75%;

    /* Gradients - 1. Linear Gradient | 2. Radial Gradient  */
    /* background: linear-gradient(direction, set_of_colors); */
    background: linear-gradient(360deg, red, black, #57a2f7, white);
}

#container-two {
    height: 400px;
    width: 75%;
    background: radial-gradient(red, blue, green 20%, yellow, white);
}

/* UNITS OF MAESUREMENTS - Absolute Unit | Relative Unit */
/* Absolute Units - cm, mm, px, m
Relative Units - %, vh, vw, em */

h1 {
    font-size: 40px;
    font-weight: 500;
}

p {
    /* font-size: 20px; */
    font-size: 1.1em;
    font-weight: 100;
}

#container-zero {
    background-color: orange;

    height: 400px;
    width: 70vw;
}

/* FONTS --> 1. sans-serif 2. serif */
/* font-family; font-size, font-weight */


/* Link CSS Properties */
a {
    text-decoration: none;
    color: black;

    cursor: pointer;
}

a:hover {
    color: grey;
}


/* BOX MODEL ---> Any HTML element, is nothing but a BOX.  */
#img-one {
    /* border: size_of_border style_of_border color_of_border; */
    border: 5px double red;
    
    /* padding: Space b/w border and the BOX */
    padding: 15px;
    /* padding: TOP-BOTTOM-px LEFT-RIGHT-px */
    padding: 10px 5px;
    /* padding: TOP-px RIGHT-px BOTTOM-px LEFT-px */
    padding: 5px 10px 15px 20px;

    /* margin --> Space outside the Border */
    margin: 10px;
    margin: 20px 10px;
    margin: 20px 15px 10px 5px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

/* FLEXBOXES */
.container {
    display: flex;

    /* CSS Flex Properties */
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .container-item {
    /* background-color: green;
    color: white;

    padding: 10px;
    margin: 10px;

    width: 70px;
    text-align: center; */
/* } */ 

.container-item img {
    width: 200px;
    border: 3px double black;
}

/* NAV STYLES */
.logo {
    width: 25%;
}

header {
    display: flex;

    justify-content: space-between;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

#contact-us {
    padding: 10px 25px;
    background-color: red;
    color: white;

    border: 0px;
    border-radius: 15px;
}

/* MEDIA QUERIES */
@media(max-width: 500px) {

    body {
        background: black;
        color: white
    }

    #image-two {
        width: 85%;
    }
}